#leftpanel{
    background-color: #1982de;
    height: 600px;
    overflow-x: hidden;
}

.wTitle{
    display:inline;
}

.step{
    padding:10px 0 10px 0;
}
#configSteps{
    margin-top:200px;
    
}

.intro{
    text-align: center;
    margin-top: 100px;
}

#welcome{
    font-size: 20px;
}

#appname{
    font-size:30px;
    font-weight:bolder;
    color: #1982de;
}

.fDetails{
    display: inline;
}

.featureDetails{
    margin-left:130px;
    margin-top:20px;
}

.feature{
    padding-top:30px;
}

#continue{
    position: absolute;
    top:70%;
    left:35%;
    width:120px;
}