<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Software</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../../assests/css/welcome.css" />
    <link rel="stylesheet" type="text/css" href="../../../assests/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../../assests/css/all.min.css" />
    <script src="../../../assests/js/bootstrap.min.js"></script>
    <script src="../../../assests/js/all.min.js"></script>
    <style>
        body{
            overflow: hidden;
            height: 600px;
            width: 800px;
        }
    </style>

</head>
<body>
    <div class = "row">
        <div class = "col-md-3" id="leftpanel">
            <div id="configSteps">
                <ul style="list-style-type: none;"> 
                    <li id = "step1" class="step">
                        <img src="" alt="img1" id="img1" class = "wImage"/>
                        <p id = "s1" class="wTitle">Home</p>
                    </li>
                    <li id = "step2" class="step"> 
                        <img src="" alt="img2" id="img2" class= "wImage"/>
                        <p id="s2" class="wTitle">User Information</p>
                    </li>
                    <li id = "step3" class="step">
                        <img src="" alt="img3" id="img3" class = "wImage"/>
                        <p id="s3" class = "wTitle">Brief Details</p>
                    </li>
                    <li id = "step4" class="step">
                        <img src="" alt="img4" id="img4" class="wImage"/>
                        <p id="s4" class="wTitle">4</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class = "col-md-9">
            <div style="height:80%">
                <p>
                    Loreum Ipsum
                </p>
            </div>
            <div style="height:20%">
                <hr>
                <button type="button" id ="back" style="float:left; padding-right: 10px;" class = "btn btn-primary">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> BACK </i>
                </button>
                <button type="button" id ="next" style="float:right; padding-right: 10px;margin-right: 10px;" class = "btn btn-primary">
                    NEXT <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>

    <script>
        require('../../rendererprocess/AboutSoft.js')
    </script>
</body>
</html>