<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../../assests/css/welcome.css" />
    <link rel="stylesheet" type="text/css" href="../../../assests/css/bootstrap.min.css" />
    <script src="../../../assests/js/bootstrap.min.js"></script>
    <style>
    body {
        overflow: hidden;
        height: 600px;
        width: 800px;
    }
    </style>
</head>
<body>
    <div class = "row">
        <div class = "col-md-3" id="leftpanel">
            <div id="configSteps">
                <ul style="list-style-type: none;"> 
                    <li id = "step1" class="step">
                        <img src="" alt="img1" id="img1" class = "wImage"/>
                        <p id = "s1" class="wTitle">Home</p>
                    </li>
                    <li id = "step2" class="step"> 
                        <img src="" alt="img2" id="img2" class= "wImage"/>
                        <p id="s2" class="wTitle">User Information</p>
                    </li>
                    <li id = "step3" class="step">
                        <img src="" alt="img3" id="img3" class = "wImage"/>
                        <p id="s3" class = "wTitle">Brief Details</p>
                    </li>
                    <li id = "step4" class="step">
                        <img src="" alt="img4" id="img4" class="wImage"/>
                        <p id="s4" class="wTitle">4</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class = "col-md-9">
            <div class= "features">
                <div>
                    <h1 class="intro">
                        <span id="welcome">WELCOME TO</span><br />
                        <span id="appname">SYSTEM MONITOR </span><br /> 
                    </h1>
                </div>
                <div class="featureDetails">
                    <div class="feature">
                        <img src="" alt="f1" id="feature1" class="wfeature">
                        <p class="fDetails">Lorem Ipsum</p>
                    </div>
        
                    <div class="feature">
                        <img src="" alt="f2" id="feature2" class="wfeature">
                        <p class="fDetails">Lorem Ipsum</p>
                    </div>
        
                    <div class="feature"> 
                        <img src="" alt="f3" id="feature3" class="wfeature">
                        <p class="fDetails">Lorem Ipsum</p>
                    </div>
                </div>
            <a href = "./UserDetails.html"> 
                <button id="continue" type="button" class="btn btn-primary">Continue</button>
            </a>
            </div>
        </div>
    </div>

    <script>
        require('../../rendererprocess/Welcome.js')
    </script>
</body>
</html>